/**
 * ! this comment should appearr in red, 
 * ! so use "better comments" extension to navigate through comments with color codes **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/**
* ? navbar styles are here
**/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #03071e;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
}

.cart-icon {
  background-color: white;
  color: #03071e;
  font-size: 25px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}
.cartAmmount {
  background-color: red;
  color: white;
  font-size: 15px;
  position: absolute;
  top: -15px;
  right: -10px;
  border-radius: 5px;
  padding: 3px;
}

/**
* ! shopping cart items styles are here below
**/

.shop {
  display: grid;
  grid-template-columns: repeat(4, 204px);
  gap: 30px;
  justify-content: center;
}

.item {
  border: #03071e 2px solid;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

/* for responsivity */
@media (max-width: 1000px) {
  .list {
    grid-template-columns: repeat(2, 220px);
  }
}
@media (max-width: 500px) {
  .list {
    grid-template-columns: repeat(1, 220px);
  }
}
.brand-like {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.bi-heart {
  color: #03071e;
  font-size: 25px;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  /* position: relative; */
}
p {
  /* position: relative; */
  /* margin-bottom: 30px; */
}
.price-quantity {
  display: flex;
  justify-content: space-between;

  /* position: absolute;
  bottom: 0; */
}
.buttons {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.bi-plus-lg {
  color: green;
}
.bi-dash-lg {
  color: red;
}
