/**
 * ! this comment should appearr in red, 
 * ! so use "better comments" extension to navigate through comments with color codes **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
i {
  cursor: pointer;
}
.navbar a {
  text-decoration: none;
  color: white;
}

/**
* ? navbar styles are here
**/

.navbar {
  display: flex;
  /* flex-direction: row;
  align-items: center; */
  justify-content: space-between;
  background-color: #03071e;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
}

.cart-icon {
  background-color: white;
  color: #03071e;
  font-size: 25px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}
.cartAmount {
  background-color: red;
  color: white;
  font-size: 15px;
  position: absolute;
  top: -15px;
  right: -10px;
  border-radius: 5px;
  padding: 3px;
}

/**
* ! shopping cart items styles are here below
**/

.shop {
  display: grid;
  grid-template-columns: repeat(4, 204px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 60px;
}

.item {
  border: #03071e 2px solid;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

/* for responsivity */
@media (max-width: 1000px) {
  .list {
    grid-template-columns: repeat(2, 220px);
  }
}
@media (max-width: 500px) {
  .list {
    grid-template-columns: repeat(1, 220px);
  }
}
.brand-like {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.bi-heart {
  /* color: #03071e; */
  font-size: 25px;
  margin: 3px;
  /* background-color: #ed1111; */
  /* color: #ed1111;
  box-sizing: 0 5px 0 #df0c0c; */
}
/* some cool effect on buttons to give them so dopamine hits so they can buy more stuff = more $ *-**/
/* hides the checkbox */

/* for styling purpose only */
label {
  font-size: 30px;
}
/* .bi-heart:active,
.bi-plus-lg:active {
  box-shadow: none;
  transform: translateY(5px);
} */

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  /* position: relative; */
}
p {
  /* position: relative; */
  /* margin-bottom: 30px; */
}
.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* position: absolute;
  bottom: 0; */
}
.buttons {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.bi-plus-lg {
  color: green;
}
.bi-dash-lg {
  color: red;
}

/** 
*? empty cart styles **/
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
* ! style rules for label and some buttons
**/

.text-center {
  text-align: center;
  margin-bottom: 20px;
}
.bill {
  background-color: #03071e;
  color: white;
  padding: 0 50px;
}
.HomeBtn,
.checkout,
.removeAll {
  background-color: #03071e;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 12px;
}
.removeAll {
  background-color: red;
}

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 520px);
  /* border: #03071e 2px solid; */
  justify-content: center;
}

/**
*? styles for cart item */
.cart-item {
  border: #03071e 2px solid;
  display: flex;
  border-radius: 5px;
}
.title-price-x {
  /* to do : putting x at right corner of the item*/
  border: #03071e 2px solid;
  width: 400px;
  display: flex;
  align-items: center;
  position: relative;
}

i.cart.bi.bi-x-lg {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 0;
}
.cart-item-price {
  font-size: 20px;
  font-weight: bold;
  margin-left: 300px;
}

/** refining the alignement **/

h3 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* height: 220px; */
}
p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* height: 306px; */
}
.button-solid {
  border: none;
  background-color: transparent;
}
.button-solid:focus {
  border: none;
  outline: none;
}
.bi-heart-fill {
  color: red;
  font-size: 25px;
  margin: 3px;
}

.hidden {
  display: none;
}
